@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@400;500&display=swap');

:root {
	--r5: 5px;
	--r10: 10px;
	--system0: white;
	--system1: #ececec;
	--system2: #dbdbdb;
	--system3: black;
	--txtColor0: black;
	--txtColor1: white;
}


html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: var(--system0);
}
h1,h2,h3,h4,h5,h6 {
	color: var(--txtColor0);
	margin: 0.3em 0 0.3em 0;
}
p{
	color: var(--txtColor0);
}

hr {
	margin-top: 1em;
	margin-bottom: 1em;
	background-color:var(--system1);
	border: 1px solid var(--system1);
}
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-thumb {
	background: var(--system1);
	border-radius: var(--r5);
}

::-webkit-scrollbar-track {
	margin: 5px;
	width: 5px;
	height: 5px;
	background-color: transparent;
}
.container {
	min-height: 100vh;
	padding: 0 0.5rem;
}

.alignItems {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 2em;
}
*{
	font-family: 'Zen Kaku Gothic New', sans-serif;
	box-sizing: border-box;
}
a {
	color: inherit;
}

.logoFont {
	font-family: 'Raleway', sans-serif;
}

.grid-1fr-1fr,
.grid-1fr-2fr{
	display: grid;
	gap: 4em;
}
.grid-1fr-3fr{
	display: grid;
	gap: 2em;
}

.sidePadding{
	margin: 0 10%;
}

@media (max-width: 700px) {
	.scaleFont{
		font-size: 0.5em;
	}
	.scaleFontLarge{
		font-size: 1em;
	}
	.responsiveFullHeight{
		margin-top:2.5em;
		height: fit-content;
	}
	.grid-1fr-1fr,
	.grid-1fr-2fr,
	.grid-1fr-3fr{
		grid-template-columns: 1fr;
	}
	.bodyMargin{padding:5% 5%}
}
@media (min-width: 701px) and (max-width: 1000px) {
	.responsiveFullHeight{
		height: 100vh;
	}
	.grid-1fr-1fr{
		grid-template-columns: 1fr 1fr;
	}
	.grid-1fr-2fr{
		grid-template-columns: 1fr 2fr;
	}
	.grid-1fr-3fr{
		grid-template-columns: 1.5fr 3fr;
	}
	.bodyMargin{padding:5% 7%}
}
@media (min-width: 1001px) and (max-width: 1270px) {
	.responsiveFullHeight{
		height: 100vh;
	}
	.grid-1fr-1fr{
		grid-template-columns: 1fr 1fr;
	}
	.grid-1fr-2fr{
		grid-template-columns: 1fr 2fr;
	}
	.grid-1fr-3fr{
		grid-template-columns: 1fr 3fr;
	}
	.bodyMargin{padding:5% 10%}
}
@media (min-width: 1271px) {
	.responsiveFullHeight{
		height: 100vh;
	}
	.grid-1fr-1fr{
		grid-template-columns: 1fr 1fr;
	}
	.grid-1fr-2fr{
		grid-template-columns: 1fr 2fr;
	}
	.grid-1fr-3fr{
		grid-template-columns: 1fr 3fr;
	}
	.bodyMargin{padding:5% 15%}
}

.scaleUp{
	animation: scaleUpAni 0.5s;
}
@keyframes scaleUpAni {
	0% {
		opacity: 0;
		transform: scale3d(0.05,0.05,0.05);
	}
	70% {
		transform: scale3d(1.05,1.05,1.05);
	}
}

.mockupContainer {
	animation: mockupContainerAni infinite 5s;
	animation-direction: alternate;
}

@keyframes mockupContainerAni {
	0% {
		transform: perspective(200px) rotateX(5deg) rotateY(-2deg);
	}
	100% {
		transform: perspective(200px) rotateX(5deg) rotateY(2deg);
	}
}